<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/FotoPerfil.png" class=" img-fluid" alt="Foto" id="foto">
</div>

<div class="row">
        <div class="col-xs-2 col-sm-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p id>Full Stack Developer Jr </p>
    </div>
    <div class="col-sm-10 col-md-10 col-lg-10">
        <span> 
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum quos magnam quibusdam sit nesciunt eos vel, a sunt, vitae eius veritatis minima fugit cum nulla voluptate delectus molestias soluta error.</p>
        </span>
    </div>
</div>
