<div class="row" id="hard">
  <h1> Hard Skills</h1>
  <div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="70"
    [radius]="100"
    [imageSrc]="'../assets/html logo.png'"
    [imageHeight]="100"
    [imageWidth]="100"
    [showImage]="true"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="1"
    [outerStrokeColor]="'#D35400'"
    [animation]="true"
    [animationDuration]="700"
  ></circle-progress>
  </div>

  <div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="60"
      [radius]="100"
      [imageSrc]="'../assets/css logo.png'"
      [imageHeight]="105"
      [imageWidth]="90"
      [showImage]="true"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="1"
      [outerStrokeColor]="'#5DADE2'"
      [animation]="true"
      [animationDuration]="700"
    ></circle-progress>
    </div>
  
    <div class= "col-sm-4 col-md-4 col-lg-4">
      <circle-progress
        [percent]="50"
        [radius]="100"
        [imageSrc]="'../assets/javascript logo.png'"
        [imageHeight]="100"
        [imageWidth]="100"
        [showImage]="true"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="1"
        [outerStrokeColor]="'#F4D03F'"
        [animation]="true"
        [animationDuration]="700"
      ></circle-progress>
      </div>

      <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
          [percent]="50"
          [radius]="100"
          [imageSrc]="'../assets/angular logo.png'"
          [imageHeight]="100"
          [imageWidth]="100"
          [showImage]="true"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="1"
          [outerStrokeColor]="'#C0392B'"
          [animation]="true"
          [animationDuration]="700"
        ></circle-progress>
        </div>

        <div class="col-sm-4 col-md-4 col-lg-4">
          <circle-progress
            [percent]="60"
            [radius]="100"
            [imageSrc]="'../assets/bootstrap logo.png'"
            [imageHeight]="100"
            [imageWidth]="120"
            [showImage]="true"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="1"
            [outerStrokeColor]="'#6C3483'"
            [animation]="true"
            [animationDuration]="700"
          ></circle-progress>
          </div>

          <div class="col-sm-4 col-md-4 col-lg-4">
            <circle-progress
              [percent]="50"
              [radius]="100"
              [imageSrc]="'../assets/react logo.png'"
              [imageHeight]="100"
              [imageWidth]="120"
              [showImage]="true"
              [outerStrokeWidth]="16"
              [innerStrokeWidth]="1"
              [outerStrokeColor]="'#3498DB'"
              [animation]="true"
              [animationDuration]="700"
            ></circle-progress>
            </div>

            <div class="col-sm-4 col-md-4 col-lg-4">
              <circle-progress
                [percent]="50"
                [radius]="100"
                [imageSrc]="'../assets/mysql logo.png'"
                [imageHeight]="80"
                [imageWidth]="130"
                [showImage]="true"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="1"
                [outerStrokeColor]="'#D35400'"
                [animation]="true"
                [animationDuration]="700"
              ></circle-progress>
              </div>

              <div class="col-sm-4 col-md-4 col-lg-4">
                <circle-progress
                  [percent]="40"
                  [radius]="100"
                  [imageSrc]="'../assets/python logo.png'"
                  [imageHeight]="100"
                  [imageWidth]="100"
                  [showImage]="true"
                  [outerStrokeWidth]="16"
                  [innerStrokeWidth]="1"
                  [outerStrokeColor]="'#1A5276'"
                  [animation]="true"
                  [animationDuration]="700"
                ></circle-progress>
                </div>
</div>

<div class="row" id="soft">
  <h1> Soft Skills</h1>
  <div class="col-sm-2 col-md-6">
    <h2> Adaptabilidad </h2>
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width:50%;"> 60% </div>
    </div>
  </div>

  <div class="col-sm-2 col-md-6">
    <h2> Trabajo en equipo </h2>
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width:70%;"> 70% </div>
    </div>
  </div>

  <div class="col-sm-2 col-md-6">
    <h2> Resolución de problemas </h2>
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width:60%;"> 60% </div>
    </div>
  </div>

  <div class="col-sm-2 col-md-6">
    <h2> Comunicación efectiva </h2>
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width:50%;"> 60% </div>
    </div>
  </div>

  <div class="col-sm-2 col-md-6">
    <h2> Creatividad </h2>
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width:50%;"> 50% </div>
    </div>
  </div>
</div>